name: Update starred repos daily

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch: {}

jobs:
  update:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: "24"

      - name: Install dependencies
        run: npm install

      - name: Run fetch_starred.js
        env:
          STARRED_TOKEN: ${{ secrets.STARRED_TOKEN }}
        run: node fetch_starred.js

      - name: Commit changes
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add starred-data.js
          if git diff --cached --quiet; then
            echo "No update, exit."
            exit 0
          fi
          git commit -m "Update starred data - $(date -u +"%Y-%m-%d %H:%M:%S UTC")"

      - name: Push changes
        uses: ad-m/github-push-action@v1.0.0
        with:
          branch: main
          github_token: ${{ secrets.GITHUB_TOKEN }}
